doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Welcome to BudgetBuddy
    p Proud part of the ITMD 441 Final Project by Mitansh Chaudhari.
    p Manage your budget effectively and efficiently.
    a(href='/signup') Signup
    a(href='/login') Login
